<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
<a class="navbar-brand" href="#"><img id="logo" src="/img/logo.png"></a>
<!--    <a class="navbar-brand" href="#">Moon Jelly</a>
"https://www.kisspng.com/png-jellyfish-cartoon-animation-clip-art-2172911/preview.html" -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/#team">Team</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#connect">Connect</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add">Add</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/remove">Remove</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users</a>
            </li>
            
        </ul>
    </div>
</div>
</nav>



<!--  <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/add">Add</a></li>
            <li><a href="/remove">Remove</a></li>
            <li><a href="/users">Users</a></li>
          </ul>
        </div>/.nav-collapse -->
