{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome To FlaskApp</h1>
        <p class="lead">This application is built on the Python Flask framework and is to help planning schedules for doctors</p>
    </div>
    <form action="" method="POST">
            {% for field in form  %}
            <p>
                {{field.label}}
                {{field}}
            </p>
            {% endfor %}
            <button>
                Submit
            </button>
        </form>
{% endblock %}